@media screen and (min-width: 790px){
div.text-baner{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
img.boneco{
    display: block;
    margin: auto;
}
img.moeda{
    display: block;
    margin: auto;
}
 
div#sobre{
    width: 80vw;
    justify-self: center;
}

#sobre h1{
    width: 80vw ;
    text-align: center;
    background-image: linear-gradient(to right, var(--btncor),#fd269cab );
}

section#skill-container{
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.skill-1{
    background-color: var(--btncor);
    border-radius: 6px;
}
.skill-1:hover{
    background-color: var(--card-fundo);
    transition: 0.5s ;
    scale: 1.03;
}
.skill-1 p{
    color: var(--text);
}

.skill-2{
    background-color: var(--destaque);
    border-radius: 6px;
}
.skill-2:hover{
    background-color: var(--card-fundo);
    transition: 0.5s ;
    scale: 1.03;
}
.skill-3{
    background-color:rgb(104, 165, 12);
    border-radius: 6px;
}
.skill-3:hover{
    background-color: var(--card-fundo);
    transition: 0.5s ;
    scale: 1.03;
}



.skill-1 h1{
    font-family: var(--btncor);
    font-size: 2em;
}
.skill-2 h1{
    font-family: var(--btncor);
    font-size: 2em;
}
.skill-3 h1{
    font-family: var(--btncor);
    font-size: 2em;
}
}