@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url(../principal/sobre.css);
@import url(../principal/skill.css);
@import url(../principal/expansivo.css);


.sacramento-regular{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}

.teachers{
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{

  --fundo-principal: #f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --titlecor:#003869;
  --btncor:#fd269c;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;

  --font-titulos:"Sacramento", cursive, sans-serif;
  --font-subtitulo:"Teachers", sans-serif;
  --font-botoes:"Roboto", sans-serif;

}


body{
  background-color:var(--fundo-principal);  
  color: var(--texto);
  font-family:var(--font-subtitulo);
  line-height: 3em;

}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--fundo-card);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 40px 10px 40px 10px;

}
header h1{
  font-size: clamp(2.5em, 2vw, 28em);
  font-family: var(--font-titulos);
  font-weight: lighter;
  color: var(--titlecor);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.349);
}
header h2{
  font-size: 1.2em;
  font-family: var(--font-subtitulo);
  font-weight: bold;
  color: var(--titlecor);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.349);
}

main{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;

}
section#ficha{
  display:grid;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  grid-template-columns: auto auto auto;
  grid-template-rows:auto 2fr auto;
  align-items: center;
  background: url(../../imagens/fundo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
img.boneco{

  width: 90px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  padding-left:30px;
  margin-top: 20px;

}
img.moeda{
  width:80px;
  grid-row: -1 / -2;
  grid-column: -1 / -2;
  justify-self: right;
  padding-right: 30px;
  margin-bottom: 20px;

}

div.text-baner{
  grid-column: 1 / span 3 ;
  grid-row: 2 / span 1;
  margin-top: 50px;
  margin-bottom: 50px;
}
.text-baner h1{
  font-size: clamp(50px, 2vw, 26px);
  line-height: normal;
  color:var(--destaque);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.349);
  margin-bottom: 10px;
  padding-left: 20px;
}
.text-baner h2{
  font-size: clamp(20px, 2vw, 26px);
  line-height: normal;
  color:var(--btncor);
  margin-left: 20px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.349);
}

nav#MCL{
  display: flex;
  justify-content: space-evenly;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  background-color: var(--destaque-inverso);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.482);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 60px;
  align-items: center;
  

}
nav#MCL a{
  text-decoration: none;
  font-size: clamp(17px, 2vw, 20px);
  white-space: nowrap;
  font-weight: bolder;
  color: var(--texto-inverso);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.392);
  transition: 0.5s wid;
}
nav#MCL a:hover{
  border-radius: 6px;
  color: var(--titlecor);
}

footer{
  text-align: center;
  background-color: var(--titlecor);
  color: white;
  font-family: var(--font-subtitulo);
  margin-top: 20px;
  
}