@media screen and (min-width: 790px){

body{
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto auto auto;
   
}

header{
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 500px;
  
    background:url(../../imagens/fundo.png) no-repeat;
    background-attachment:fixed;
    background-size: cover; 
    position: sticky;
    top: 0;
    height:100vh;

}

header.text-fixo{
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
}

.text-fixo h1{
    font-size: 2.4rem;
}
main#dados-container{
    display: flex;
    width: auto;
    grid-column: 2 / -1;
    grid-row: 2 / -2;

}
form#formulario{
    display: flex;
    flex-direction: column;
}

nav#MCL{
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}


label{
    margin: 0;
    font-size: 0.8rem;
    color: var(--texto);
    font-weight: bold;
}
.input-aluno{
    width:100%;
    padding: 0.6rem;
    color: var(--texto);
    font-size: 0.9rem;
    border: 1px solid ;
}
.input-responsavel{
    width: 100%;
    border: 1px solid;
}
#idata{
    width: 40%;
}



.legend{
    font-size: 0.8rem;
}
label.subtitulo{
    font-size: 0.8rem;
}

.input-aluno::placeholder{
    font-size: 0.7rem;
}

textarea{
    width: 100%;
    height: 20%px;
}


footer{
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    z-index: 1;
  
}
}
