@media screen and (min-width: 764px){
body{
    display: grid;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto;
  
}

header{
    width: 400px;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background: url(../../imagens/fundo.png);
}
.text-fixo h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.text-fixo h2{
    font-size: 1.5rem;
}
section#ficha{
    display: flex;
    width: auto;
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    background: var(--fundo);
    position: relative;
    justify-content: space-between;
}


img.moeda{
    position: absolute;
    bottom: 60px;
    right: 20px;
    width:4rem;
}

img.boneco{
    position: absolute;
    top: 100px;
    width:6rem;

}


div.text-baner h1{
    color: var(--texto-inverso);
    font-size: 3.5rem;
    
}


div#login{
    width: 350px;
    height: 219px;
    justify-self: center;
}


div.tabs{

    gap:10px;
    margin:30px 0px 30px 0px;
    justify-self: center;
}


button.tab{
    background-color:transparent;
    flex:1;
    font-size:0.8rem;
    background-color:var(--fundo-card);
    color:var(--texto);
    padding:14px;
    border-radius:8px;
    border: 1px solid;
}



footer p{
    font-size: 0.8rem;
}
}

@media (min-width: 764px) and (max-width:887px){
    img.moeda{
    position: absolute;
    right:-1%;
    bottom:60px;
    width:4rem;
}
}

@media screen and (min-width: 888px) and (max-width:949){
    img.moeda{
    position: absolute;
    right:6%;
    bottom:70px;
    width:4rem;
}
}



@media screen and (min-width: 950px) and (max-width:1110) {
    img.boneco{
    position: absolute;
    width: 7rem;
    top: 110px;
    left:10%;
}
img.moeda{
    position: absolute;
    right:6%;
    bottom:70px;
    width:5rem;
}
}




@media screen and (min-width: 1111px){
img.boneco{

    position: absolute;
    width: 7rem;
    top: 110px;
    left:10%;
}

img.moeda{
    position: absolute;
    left:80%;
    bottom:40px;
    width:5rem;
}
}