@media screen and (min-width: 760px){

body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 400px auto;
}

header{
    width: 400px;
    height: 100vh;
    grid-column: 1 / 2;
    background: url(../../imagens/fundo.png);
}
.text-fixo h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.text-fixo h2{
    font-size: 1.5rem;
}
section#ficha{
    display: flex;
    width: auto;
    height: 100vh;
    grid-column: 2 / 3;
    background: var(--fundo);
    position: relative;
    justify-content: space-between;
}


img.moeda{
    position: absolute;
    top: 60px;
    right: 20px;
    width:4rem;
}

img.boneco{
    top: 100px;
    position: absolute;
    width:6rem;

}


div.text-baner h1{
    color: var(--texto-inverso);
    font-size: 3.5rem;
    
}


div#login{
    width: 350px;
    height: 219px;
    justify-self: center;
}


div.tabs{

    gap:10px;
    margin:30px 0px 30px 0px;
    justify-self: center;
}


button.tab{
    background-color:transparent;
    flex:1;
    font-size:0.8rem;
    background-color:var(--fundo-card);
    color:var(--texto);
    padding:14px;
    border-radius:8px;
    border: 1px solid;
}



footer p{
    font-size: 0.8rem;
}
}