@media screen and (min-width: 600px){
.moeda{
    display: block;
    margin: auto;
}

.boneco{
    display: block;
    margin: auto;   
}
div#login{
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    width: 600px;
    justify-self: center;
}
}