@import url(../login/login.css);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  display: grid;
  grid-template-rows: auto;
  border: 10px dashed rgb(204, 0, 255);
}

main#container{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  border: 10px dashed yellow;
}

img.bonecoO{
    position: absolute;
    z-index: 2;
    width: 7rem;
    top: 180px;
    left: 8px;

}

img.moedaO{
    position: absolute;
    z-index: 2;
    right: 1px;
    bottom:20px;
    width:5rem;
    border: 1px dashed rgb(51, 151, 153);

}
div.elemento-onput{
  display: none;
}

div.text-banerL{
  width: 100%;
}

div.text-banerL h1{
    background-color: var(--destaque);
    text-align: center;
    font-size: 1.9rem;
    padding: 20px;
    color: var(--texto-inverso);
}
div.text-banerL h2{
    text-align: center;
    font-size: 1.4rem;
    color: var(--texto);
    margin-top: 20px;
    padding: 10px;
}


div#documentos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px dashed rgb(51, 153, 51);
}

div.documentos-itens{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
    border: 1px dashed rgb(153, 51, 51);

}


.opçao-card input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  display: none;

}

.conteudo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 280px;
  display: flex;
  flex-direction: column;
 
}
.icone {
  font-size: 24px;
  margin-bottom: 8px;
}
.conteudo-card:hover {
  border-color: #bbb;
  background-color: #f9f9f9;
}
.opçao-card input[type="checkbox"]:checked + .conteudo-card {
  border-color: #007bff;
  background-color: #e6f2ff;
  color: #007bff;
}

.input-br{
    display: block;
    margin: auto;
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: var(--destaque);
    color: var(--texto-inverso);
    margin-top: 30px;

    font-size: 1.2rem;
   
}
.input-br:hover{
    background-color: var(--btncor)!important;
    color: var(--texto);
}

a.back{

    text-decoration: none;
    font-weight: bold;
    color:var(--texto);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

a.back:hover{
    color: var(--destaque-inverso);
}

footer{
    width: 100%;
    margin:0px;
}