@import url(../login/login-responsavel.css);


section#ficha{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 100vh;
    position: relative;
    background: url(../../imagens/fundo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 1px dashed rebeccapurple;
}




img.boneco{
    position:absolute;
    width: 6rem;
    top:500px;
    left:200px;

}

img.moeda{
    position: absolute;
    z-index: 1;
    right: -2px;
    bottom:100px;
    width:5rem;
}



div.text-baner h1{
    text-align: center;
    font-size: 1.8rem;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

div#colunasContainer{
    display: flex;
    align-items: center;
    width: 85%;
   
    gap: 20px;
   
}


#selecionarTurma{
    width: 100%;
    border: 1px dashed green;
    padding: 20px;
}
#selecionarTurma select{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    color: var(--titlecor);
    font-weight: bold;

}


div#listaAlunos{
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px dashed red;
    padding: 10px;
    display:none ;
}
div#listaAlunos a{
    width: 100%;
    font-size: clamp(10px, 1.1vw, 22px);
    padding: 10px;
    background: none;
    border: none;
    text-align: start;
    white-space: pre-line;
    cursor: pointer;
}

div#idocumentos{
    grid-column: 3 / span 1;
    display:none ;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px dashed orange;
}

.cdocumentos a{
    text-decoration: none;
    font-size: clamp(10px, 1.1vw, 22px);
    color: var(--texto);
}



