@media screen and (min-width: 600px){



img.boneco{
    position: absolute;
    width: 7rem;
    top: 70px;
    left:0px;

}

img.moeda{
    position: absolute;
    right:-60%;
    bottom:10px;
    width:5rem;
}


div.documentos-itens{
    width: 80%;
   
}
}