@import url(../principal/style.css);
:root{

  --fundo-principal: #f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --titlecor:#003869;
  --btncor:#fd269c;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;

  --font-titulos:"Sacramento", cursive, sans-serif;
  --font-subtitulo:"Teachers", sans-serif;
  --font-botoes:"Roboto", sans-serif;

}


section#ficha{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    background: url(../../imagens/fundo.png);
    background-size:auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 1px dashed rebeccapurple;

}


nav#MCL{
    width: 100%;
}

img.boneco{
    position: absolute;
    width: 25%;
    top: 60px;
    left: -5px;
  

}
img.moeda{
  position: absolute;
  width: 15%;
  bottom: 60px;
  right: -2px;
  padding: 0px;
}




div.text-banerL h1{
    margin-top: 40px;
    font-size: 2.2rem;
    color: var(--titlecor);
    
}


div.tabs{
    gap:10px;
    margin:40px 0px 40px 0px;
    justify-self: center;
}

.tab{
    background-color:transparent;
    flex:1;
    font-size:0.9rem;
    background-color:var(--titlecor);
    color:var(--texto-inverso);
    padding:20px;
    border-radius:8px;
    border: none;
}
.tab:hover{
    background-color: var(--titlecor);
    color: var(--texto-inverso);
}

#loginForm{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    width: 90%;
    gap: 20px;
    border-radius: 6px;
    background-color: var(--titlecor);

}
.input-one,
.input-two{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.input-one label,
.input-two label{
    margin-bottom: 0px;
    color: white;
    font-size: 1.3em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.157);
}
input.input-l{
    border-radius: 4px;
    width: 100% ;
    height: 50px;
    font-size: 1.5em;
    background-color:transparent;
    border:none;
    box-shadow: rgba(243, 242, 242, 0.039) 0px 1px 3px;
}

.input-l:hover{
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid white;
}
.input-l:focus{
    outline: none;
    box-shadow: none;
    color: white;
}

.input-b{
    border-radius: 10px;
    width: 80% ;
    padding: 15px;
    font-size: 1.2em;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    background-color:var(--fundo-card);
    color:var(--texto);
}

button.input-b:hover{
    background-color:var(--destaque-inverso);
    transition: 0.3s;
}



a.back{

    text-decoration: none;
    font-weight: bold;
    color:var(--texto);
    font-size: 1.1rem;
    margin-top: 10px;
}

a.back:hover{
    color: var(--destaque-inverso);
}


footer{
    width: 100%;
    margin:0px;
}

